# Descriptive Statistics

In [1]:
import pandas as pd
import numpy as np
from scipy import stats

## Data Types

### Numeric

* **Continuous**
* **Discrete**

### Categorical
* **Nominal**
* **Ordinal**

## Rectangular Data

### Data frame

In [2]:
# Load .csv from a web page
url = "https://people.sc.fsu.edu/~jburkardt/data/csv/hurricanes.csv"
df = pd.read_csv(url)

# Remove additional quotes "" from header descriptions
df.columns = [x.strip().replace('"', "") for x in list(df)]

display(df)

,Month,Average,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,May,0.1,0,0,1,1,0,0,0,2,0,0,0
1,Jun,0.5,2,1,1,0,0,1,1,2,2,0,1
2,Jul,0.7,5,1,1,2,0,1,3,0,2,2,1
3,Aug,2.3,6,3,2,4,4,4,7,8,2,2,3
4,Sep,3.5,6,4,7,4,2,8,5,2,5,2,5
5,Oct,2.0,8,0,1,3,2,5,1,5,2,3,0
6,Nov,0.5,3,0,0,1,1,0,1,0,1,0,1
7,Dec,0.0,1,0,1,0,0,0,0,0,0,0,1

## Estimates of Locations

### Mean

$$\bar{x}=\frac{\displaystyle\sum\limits_{i=1}^n x_{i}}{n}$$

In [14]:
print('Arithmetic Mean')
for col in list(df):
    print(col,': \t', f'{np.mean(df[col]):.4f}')

Arithmetic Mean
Average : 	 1.2000
2005 : 	 3.8750
2006 : 	 1.1250
2007 : 	 1.7500
2008 : 	 1.8750
2009 : 	 1.1250
2010 : 	 2.3750
2011 : 	 2.2500
2012 : 	 2.3750
2013 : 	 1.7500
2014 : 	 1.1250
2015 : 	 1.5000

### Trimmed Mean 

$$\bar{x}=\frac{\sum_{i=p+1}^{n-p}x_{(i)}}{n-2p}$$

In [ ]:
print('Trimmed Mean 10%')
for col in list(df):
    print(col,': \t', f'{stats.trim_mean(df[col], .1):.4f}')

### Weighted Mean

### Median and Mode

In [ ]:
# Median Example

print('Median')
for col in list(df):
    print(col,': \t', f'{np.median(df[col]):.4f}')

In [ ]:
# Mode Example

list_int = [3, 2, 7, 8, 3, 3]
print('data =', list_int)
print(stats.mode(list_int))